{% extends 'base.html' %}

{% block content %}
<center>
  <h1>Strona Główna</h1>
  <p>Strona jest tworem eksperymentalnym. Jest to zadanie na jeden z przedmiotów na trzecim semestrze.</p>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet magna eros, condimentum viverra lorem consectetur in. Etiam semper blandit venenatis. Nunc euismod turpis sem, sed elementum enim pharetra at. Nunc cursus purus ante, id
    gravida nulla tempus ac. Praesent et gravida felis. In dolor lectus, vehicula vel porttitor et, aliquam blandit nisl. Donec tempor quam feugiat odio lacinia dapibus nec in magna. Donec tellus mauris, dignissim at tellus et, euismod commodo
    ipsum. Cras dignissim nec ante vitae dapibus. Sed suscipit ut justo nec cursus. Nulla fermentum congue tellus, sit amet semper odio vestibulum sit amet. </p>
</center>

{% endblock content %}
